---
title: Le Wagon Middleman boilerplate
---
<!--
<div class="welcome text-center padded">
  <h1>Abdurrahman Uymaz</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p>
</div> -->

<body>
  <div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/keyboard.jpg');">
    <div class="banner-content">
      <h1>Abdurrahman Uymaz</h1>
      <p>Portfolio</p>
      <a class="card-link btn btn-primary btn-lg" href="#info">
        Get to know me!
      </a>
    </div>
  </div>

<div class="static">
  <div class="wrapper-grey padded" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/cubes.jpg');">
    <div class="container">
      <section id="info">
      <div class="blabla">
        <h2 class="text-center">What do you want to know ?</h2>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <a class="card-link" href="#skills">
              <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))/*, url('https://unsplash.it/401/400');*/">
                <div class="text-center">
                  <div class="card-category">Skills</div>
                  <div class="card-description">
                    <h2>SKILLS</h2>
                    <p>Skills that i have</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <div class="col-xs-12 col-sm-6">
            <a class="card-link" href="#experience" >
              <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))/*, url('https://unsplash.it/401/400');*/">
                <div class="text-center">
                  <div class="card-category">Projects</div>
                  <div class="card-description">
                    <h2>PROJECTS</h2>
                    <p>projects created</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <div class="col-xs-12 col-sm-6">
            <a class="card-link" href="#resume" >
              <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))/*, url('https://unsplash.it/401/400');*/">
                <div class="text-center">
                  <div class="card-category">Resume</div>
                  <div class="card-description">
                    <h2>RESUME</h2>
                    <p>about me</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
          <div class="col-xs-12 col-sm-6">
            <a class="card-link" href="#contact" >
              <div class="card" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))/*, url('https://unsplash.it/401/400');*/">
                <div class="text-center">
                  <div class="card-category">contact</div>
                  <div class="card-description">
                    <h2>CONTACT</h2>
                    <p>Contact info</p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </section>
      </div>
    </div>
  </div>
  </div>

  <div class="container2">
    <div class="card2">
      <div class="card-description2">
        <div class="text-center">
          <div class="wrapper-grey padded" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/cubes.jpg');">

            <p>

              <section id="skills">
                <div class="container">
                  <h2 class="text-center">SKILLS</h2>
                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <div class="card-skill" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))/*, url('https://unsplash.it/401/400');*/">
                        <div class="text-center">
                          <div class="card-category">Skills</div>
                          <div class="card-description">
                            <i class="fa fa-diamond fa-4x" aria-hidden="true"></i>
                            <i class="fa fa-database fa-4x" aria-hidden="true"></i>
                            <i class="fa fa-github fa-4x" aria-hidden="true"></i>
                            <i class="fa fa-html5 fa-4x" aria-hidden="true"></i>
                            <h2>SKILLS</h2>
                          </div>
                        </div>
                      </div>
                    </div>
                    Ruby on Rails
                    Ruby
                    Github
                    Git
                    SQL
                    HTML
                    CSS
                    JAVASCRIPT
                  </section>

                  <section id="experience">


                    <section id="projects">
                      <div class="container">
                        <h2 class="text-center">PROJECTS</h2>
                        <div class="row">
                          <div class="col-xs-12 col-sm-6">
                            <div class="card-skill2" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))/*, url('https://unsplash.it/401/400');*/">
                              <div class="text-center">
                                <div class="card-category">Projects</div>
                                <div class="card-description">
                                  <i class="fa fa-diamond fa-4x" aria-hidden="true"></i>
                                  <i class="fa fa-database fa-4x" aria-hidden="true"></i>
                                  <i class="fa fa-github fa-4x" aria-hidden="true"></i>
                                  <i class="fa fa-html5 fa-4x" aria-hidden="true"></i>
                                  <h2>Projects</h2>
                                </div>
                              </div>
                            </div>
                          </div>
                          </section>
                          <p>
                            Mauris porta bibendum tellus, in mollis sem dignissim ut. In ornare libero quis tellus ullamcorper sollicitudin. Quisque aliquam, velit sed consectetur imperdiet, nibh magna aliquam lacus, vel euismod orci felis a ligula. Phasellus gravida finibus enim, ac feugiat leo porta ut. Ut sed quam euismod, venenatis mi laoreet, sollicitudin nisi. Aenean viverra molestie elit nec fermentum. Integer sagittis augue maximus risus finibus vulputate. Mauris at condimentum lectus.


                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique venenatis malesuada. Morbi posuere quis augue nec vehicula. Nulla facilisi. Sed interdum lectus ac arcu tempus tempus. In in tellus non arcu hendrerit faucibus. Phasellus nec iaculis sapien. Integer id arcu ex. Sed vel justo sed libero eleifend lacinia. Morbi eget feugiat augue. Etiam at condimentum mauris. Mauris pellentesque metus non ipsum suscipit, vel venenatis ante hendrerit. Pellentesque id nulla vel massa consectetur pellentesque.

                            Mauris porta bibendum tellus, in mollis sem dignissim ut. In ornare libero quis tellus ullamcorper sollicitudin. Quisque aliquam, velit sed consectetur imperdiet, nibh magna aliquam lacus, vel euismod orci felis a ligula. Phasellus gravida finibus enim, ac feugiat leo porta ut. Ut sed quam euismod, venenatis mi laoreet, sollicitudin nisi. Aenean viverra molestie elit nec fermentum. Integer sagittis augue maximus risus finibus vulputate. Mauris at condimentum lectus.

                            Vestibulum gravida nulla ornare, imperdiet velit nec, malesuada tellus. Aliquam sit amet egestas arcu. Mauris ut elit vitae tortor ultrices dictum. Cum
                          </p>


                        <section id="resume">
                          <div class="container">
                            <h2 class="text-center">RESUME</h2>
                            <div class="row">
                              <div class="col-xs-12 col-sm-6">
                                <div class="card-skill" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))/*, url('https://unsplash.it/401/400');*/">
                                  <div class="text-center">
                                    <div class="card-category">Resume</div>
                                    <div class="card-description">
                                      <i class="fa fa-diamond fa-4x" aria-hidden="true"></i>
                                      <i class="fa fa-database fa-4x" aria-hidden="true"></i>
                                      <i class="fa fa-github fa-4x" aria-hidden="true"></i>
                                      <i class="fa fa-html5 fa-4x" aria-hidden="true"></i>
                                      <h2>RESUME</h2>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              Vestibulum gravida nulla ornare, imperdiet velit nec, malesuada tellus. Aliquam sit amet egestas arcu. Mauris ut elit vitae tortor ultrices dictum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer est sem, fermentum blandit sem tempor, imperdiet semper magna. Curabitur hendrerit enim ac sodales ornare. Donec in aliquet dui. Phasellus mollis, velit et tristique accumsan, turpis nunc venenatis lorem, vitae euismod urna quam in mauris. Vivamus sed nisl egestas nisi euismod mattis. In at leo ac arcu sollicitudin dictum id eget nulla. Nunc facilisis lorem nec est aliquet, ut volutpat mauris imperdiet. Nunc lacinia massa at nisl pellentesque pellentesque.


                              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tristique venenatis malesuada. Morbi posuere quis augue nec vehicula. Nulla facilisi. Sed interdum lectus ac arcu tempus tempus. In in tellus non arcu hendrerit faucibus. Phasellus nec iaculis sapien. Integer id arcu ex. Sed vel justo sed libero eleifend lacinia. Morbi eget feugiat augue. Etiam at condimentum mauris. Mauris pellentesque metus non ipsum suscipit, vel venenatis ante hendrerit. Pellentesque id nulla vel massa consectetur pellentesque.

                              Mauris porta bibendum tellus, in mollis sem dignissim ut. In ornare libero quis tellus ullamcorper sollicitudin. Quisque aliquam, velit sed consectetur imperdiet, nibh magna aliquam lacus, vel euismod orci felis a ligula. Phasellus gravida finibus enim, ac feugiat leo porta ut. Ut sed quam euismod, venenatis mi laoreet, sollicitudin nisi. Aenean viverra molestie elit nec fermentum. Integer sagittis augue maximus risus finibus vulputate. Mauris at condimentum lectus.


                            </section>
                            <section id="contact">
                             <div class="container">
                              <h2 class="text-center">CONTACT</h2>
                              <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                  <div class="card-skill3" style="background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2))/*, url('https://unsplash.it/401/400');*/">
                                    <div class="text-center">
                                      <div class="card-category">Contact</div>
                                      <div class="card-description">
                                        <i class="fa fa-diamond fa-4x" aria-hidden="true"></i>
                                        <i class="fa fa-database fa-4x" aria-hidden="true"></i>
                                        <i class="fa fa-github fa-4x" aria-hidden="true"></i>
                                        <i class="fa fa-html5 fa-4x" aria-hidden="true"></i>
                                        <h2>appie_u_@hotmail.com</h2>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                              <h4>the rest</h4>
                              Pellentesque et ante dapibus, fringilla sem id, iaculis eros. Suspendisse fringilla non nunc sit amet lacinia. Nulla scelerisque massa sit amet convallis scelerisque. Integer id nunc ante. Etiam eu elementum dui. Nam blandit eget odio id vehicula. Proin volutpat dignissim urna sed eleifend. Etiam sit amet neque non felis scelerisque suscipit ut non purus. Donec ligula velit, fringilla in risus cursus, efficitur ultricies leo. Ut pulvinar augue a est vulputate tristique. Vestibulum felis odio, dapibus at mattis sed, lobortis at libero. Ut porta ex vitae tortor interdum, eget pulvinar est dictum.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>


                  <div id="footer">
                    <div class="container">
                      <div class="row">
                        <div class="col-xs-4">
                          <ul class="list-inline">
                            <li><a href=""><i class="fa fa-youtube"></i></a></li>
                            <li><a href=""><i class="fa fa-instagram"></i></a></li>
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                          </ul>
                        </div>
                        <div class="col-xs-8 text-right">
                          <p>This is a Airbnb Home challenge @ LeWagon</p>
                        </div>
                      </div>
                    </div>
                  </div>
